<h2><%= @task.tittle%></h2>
<p><%= @task.details%></p>
<p><%= @task.completed%></p>

<% <%= link_to  "volver al listado", task_path %>

<%= link_to "Delete #{@task.tittle}", # remplazar name por tittle?
            tasks_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/tasks/2">
  Delete the spoon
</a>